h1 {
  display: inline-flex;
  align-items: center;
  gap: .3em;
}
.App,
.Link,
.Music-status,
.Player-actions {
  gap: .5em;
  display: flex;
}

main,
nav,
.Player {
  display: flex;
  flex-direction: column;
}

.App > header {
  width: 15em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Player {
  text-align: center;
}
.Player-actions {
  align-items: center;
  justify-content: space-evenly;
}

.Music-status {
  justify-content: space-between;
}

.Link {
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}
.Link svg {
  height: 1.5em;
  width: auto;
}
.Link.play svg {
  height: 3em;
}
